.galleryContainer{
    min-height:300px;
    background: url("../../assets/backgrounds/__before.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#F1F4F8;
    padding: 120px 0 120px 0 ;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.galleryHeading{
    width:100%;
    margin: auto;
    font-size: 43.484px;
    font-style: normal;
    font-weight: 400;
    line-height: 48.4px; /* 111.304% */
    letter-spacing: -0.5px;
    color:#000;
    text-align: center;
}
.aqua{
    color: #69F5FF;
}


.galleryContentWrapper{
    margin-top:100px;
    color:#000;
    display: grid;
    row-gap: 250px;
}
.gallerContentContainer{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 58px;
}
.galleryTextContentWrapper{
    display:Grid;
    flex-direction:column;
    padding:58px;
}
.galleryContentTitle{
    font-size: 42.453px;
    font-style: normal;
    font-weight: 400;
    line-height: 48.4px; /* 114.008% */
    letter-spacing: -0.5px;
}
.galleryContent{
    color: 000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.2px; /* 190% */
    margin-top:10px
}
.ideImages{
    /* width: 710px;
    height: 495px; */
}
.waitText {
    text-align: start;
    font-weight: 700;
    margin-top: 50px;
    font-size: 72px;
    line-height: 1;
}

@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {
.gallerContentContainer {
    grid-template-columns: auto;
}
.galleryTextContentWrapper {
    order: 2;
}
.galleryContentWrapper {
    row-gap: 50px;
}
.waitText {
    font-size: 50px;
}
.ideImages {
    margin: 0 auto;
}
.galleryContainer {
    padding: 75px 0px;
}
}
@media only screen and (max-width: 575px) {
    .waitText {
        font-size: 35px;
    }
    .galleryContent {
        font-size: 17px;
    }
    .galleryContentWrapper {
        margin-top: 50px;
    }
    .galleryContainer {
        padding: 40px 0px;
    }
    .galleryTextContentWrapper {
        padding: 30px;
    }
    .galleryContainer {
        padding: 50px 0px;
    }
    .galleryContentTitle {
        font-size: 30px;
    }
}